@import "compass/reset";

/* Colors */
$primary-color: blueviolet;
$secondary-color: hsl(180, 100, 50%);
$light-primary-color: hsl(235, 70%, 69%);
$light-secondary-color: hsl(180, 100%, 70%);
$light-background-color: hsl(271, 70%, 96%);
$dark-primary-color: #00004d;
$dark-background-color: #300b51;
$white: #fff;
$white-faded: hsla(0, 0%, 40%, 0.6);
$black: #000;
$black-faded: hsla(0, 0%, 0%, 0.6);

%gradient-color-light {
  background-image: linear-gradient(to right, $primary-color, $secondary-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

%gradient-color-dark {
  background-image: linear-gradient(to right, $primary-color, $secondary-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

%gradient-background-light {
  background-image: linear-gradient(to right, $light-secondary-color, $light-primary-color, $light-secondary-color);
}

%gradient-background-dark {
  background-image: linear-gradient(to right, $light-secondary-color, $primary-color, $light-secondary-color);
}

%button {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Styles */

// * {
//   border: 1px solid red !important;
// }

.App {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;

  header {
    padding: 2rem;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      font-family: 'Orbitron', sans-serif;
    }

    h3 {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-family: 'Montserrat', sans-serif;
      margin-top: 0.5rem;
      padding-right: 0.5rem;
    }

    button {
      @extend %button;
      font-size: 4rem;
    }
  }

  .reminderList {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reminder {

      p {
        width: 500px;
        padding: 0.8rem 2rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem;
        border-radius: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        input[type="checkbox"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          height: 1.5rem;
          width: 1.5rem;
          margin-right: 1rem;
          border-radius: 12px;
        }

        button {
          @extend %button;
          margin-left: 1rem;
          font-weight: 900;
          padding: 5px 7px;
          border: 2px solid transparent;
          border-radius: 100%;
        }
      }
    }
  }
}

.invisible {
  visibility: hidden;
  display: none;
}

/* Light */

.light {
  background-color: $light-background-color;

  header {
    background-color: $white;
    border-bottom: 4px solid $light-primary-color;

    h1 {
      @extend %gradient-color-light;
    }

    h3, button {
      color: $black;
    }

    button:hover {
      color: $black-faded;
    }
  }

  p {
    color: $black;
    background-color: $white;
    border: 2px solid $light-primary-color;
    &:hover {
      @extend %gradient-background-light;
      border: 2px solid transparent;
    }

    input[type="checkbox"] {
      border: 1px solid $light-primary-color;
      &:hover {
        background-color: $light-primary-color;
      }
      &:checked {
        background-color: $light-primary-color;
      }
    }

    button: {
      color: $black;
    }
  }
}

/* Dark */

.dark {
  background-color: $dark-background-color;

  header {
    background-color: $black;
    border-bottom: 4px solid $secondary-color;

    h1 {
      @extend %gradient-color-dark;
    }

    h3, button {
      color: $white;
    }

    button:hover {
      color: $white-faded;
    }
  }

  p {
    color: $white;
    background-color: $dark-primary-color;
    border: 2px solid $secondary-color;
    &:hover {
      @extend %gradient-background-dark;
      border: 2px solid transparent;
    }

    input[type="checkbox"] {
      border: 1px solid $secondary-color;
      &:hover {
        background-color: $primary-color;
        border: 1px solid transparent;
      }
      &:checked {
        background-color: $light-primary-color;
      }
    }

    button {
      color: $white;
    }
  }
}
