@import "compass/reset";

/* Colors */
$primary-color: #8a2be2;
$secondary-color: #00ffff;
$light-primary-color: #7982e7;
$light-secondary-color: #66ffff;
$light-background-color: #f6effc;
$dark-primary-color: #00004d;
$dark-background-color: #300b51;
$white: #fff;
$white-faded: hsla(0, 0%, 40%, 0.6);
$black: #000;
$black-faded: hsla(0, 0%, 0%, 0.6);

%gradient-color-light {
  background-image: linear-gradient(to right, $white, $primary-color, $secondary-color, $white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

%gradient-color-dark {
  background-image: linear-gradient(to right, $black, $primary-color, $secondary-color, $black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

%gradient-background-light {
  background-image: linear-gradient(to right, $light-secondary-color, $light-primary-color, $light-secondary-color);
}

%gradient-background-dark {
  background-image: linear-gradient(to right, $light-secondary-color, $primary-color, $light-secondary-color);
}

%button {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Styles */

.invisible {
  visibility: hidden;
  opacity: 0;
}

.App {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  header {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    position:fixed;
    height: 200px;
    z-index: 2;
    width: 100%;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 2;

      h1 {
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        font-family: 'Orbitron', sans-serif;
      }

      h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    button {
      @extend %button;
      @extend %gradient-color-light;
      flex-grow: 1;
      cursor: default;

      img {
        width: 100px;
        cursor: pointer;
      }
    }
  }

  #addFocusContainer {
    top: 0;
    right: 0;
    width: 25%;
    bottom: 0;
    position: fixed;
    margin-top: 196px;
    z-index: 3;

    .addFocusForm {
      height: 100%;
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        min-height: 2rem;
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      input[type="text"] {
        font-size: 1.5rem;
        outline: none;
        border: none;
      }

      input[type="submit"] {
        @extend %button;
        text-transform: uppercase;
        padding: 0.8rem 2rem;
        border-radius: 10rem;
      }
    }
  }

  .focusList {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .noFocuses {
      font-size: 2rem;
      margin-top: 9rem;

      span {
        font-size: 3rem;
      }
    }

    .focus {
      width: 40%;

      p {
        padding: 0.8rem 2rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem;
        border-radius: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        input[type="checkbox"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          height: 1.5rem;
          width: 1.5rem;
          margin-right: 1rem;
          border-radius: 12px;
        }

        button {
          @extend %button;
          margin-left: 1rem;
          font-weight: 900;
          padding: 5px 7px;
          border: 2px solid transparent;
          border-radius: 100%;
        }
      }
    }
  }
}

/* Light */

.light {
  background-color: $light-background-color;

  header {
    background-color: $white;
    border-bottom: 4px solid $light-primary-color;

    h1 {
      @extend %gradient-color-light;
    }

    h3 {
      color: $black;
    }
  }

  #addFocusContainer {
    background-color: $white;
    border-left: 4px solid $light-primary-color;

    .addFocusForm {

      input[type="text"] {
        border-bottom: 2px solid $light-primary-color;
      }

      input[type="submit"] {
        background-color: $light-background-color;
        border: 2px solid $light-primary-color;
        &:hover {
          @extend %gradient-background-light;
        }
      }
    }
  }

  .focusList {

    .noFocuses {

      span {
        color: $primary-color;
      }
    }

    .completed {
      background-color: $light-primary-color;
      color: $white;

      button {
        color: $white;
      }
    }

    p {
      color: $black;
      background-color: $white;
      border: 2px solid $light-primary-color;
      &:hover {
        @extend %gradient-background-light;
        border: 2px solid transparent;
      }

      input[type="checkbox"] {
        border: 1px solid $light-primary-color;
        &:hover {
          background-color: $light-primary-color;
        }
        &:checked {
          background-color: $light-primary-color;
        }
      }

      button: {
        color: $black;
      }
    }
  }
}

/* Dark */

.dark {
  background-color: $dark-background-color;

  header {
    background-color: $black;
    border-bottom: 4px solid $secondary-color;

    h1 {
      @extend %gradient-color-dark;
    }

    h3 {
      color: $white;
    }
  }

  #addFocusContainer {
    background-color: $black;
    border-left: 4px solid $secondary-color;

    .addFocusForm {

      input[type="text"] {
        color: $white;
        background-color: $black;
        border-bottom: 2px solid $secondary-color;
      }

      input[type="submit"] {
        border: 2px solid $secondary-color;
        background-color: $dark-primary-color;
        color: $white;
        &:hover {
          @extend %gradient-background-light;
        }
      }
    }
  }

  .focusList {

    .noFocuses {
      color: $white;

      span {
        color: $secondary-color;
      }
    }

    .completed {
      background-color: $secondary-color;
      color: $black;

      button {
        color: $black;
      }
    }

    p {
      color: $white;
      background-color: $dark-primary-color;
      border: 2px solid $secondary-color;
      &:hover {
        @extend %gradient-background-dark;
        border: 2px solid transparent;
      }

      input[type="checkbox"] {
        border: 1px solid $secondary-color;
        background-color: $dark-primary-color;
        &:hover {
          background-color: $primary-color;
          border: 1px solid transparent;
        }
        &:checked {
          background-color: $secondary-color;
        }
      }

      button {
        color: $white;
      }
    }
  }
}
