/* line 5, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Extentions */
/* line 19, ../sass/screen.scss */
.App header button, .light header h1 {
  background-image: linear-gradient(to right, #fff, #8a2be2, #00ffff, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* line 26, ../sass/screen.scss */
.dark header h1 {
  background-image: linear-gradient(to right, #000, #8a2be2, #00ffff, #000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* line 33, ../sass/screen.scss */
.light #settingsSidebar button:hover, .light #addFocusContainer .addFocusForm input[type="submit"]:hover, .light .focusList p:hover, .dark #addFocusContainer .addFocusForm input[type="submit"]:hover {
  background-image: linear-gradient(to right, #66ffff, #7982e7, #66ffff);
}

/* line 37, ../sass/screen.scss */
.dark #settingsSidebar button:hover, .dark .focusList p:hover {
  background-image: linear-gradient(to right, #66ffff, #8a2be2, #66ffff);
}

/* line 41, ../sass/screen.scss */
.App header button, .App #settingsSidebar button, .App #addFocusContainer .addFocusForm input[type="submit"], .App .focusList .focus p button {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Styles */
/* line 49, ../sass/screen.scss */
.invisible {
  visibility: hidden;
  opacity: 0;
}

/* line 54, ../sass/screen.scss */
.App {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
/* line 62, ../sass/screen.scss */
.App header {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 200px;
  z-index: 2;
  width: 100%;
}
/* line 71, ../sass/screen.scss */
.App header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}
/* line 77, ../sass/screen.scss */
.App header .title h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-family: 'Orbitron', sans-serif;
}
/* line 84, ../sass/screen.scss */
.App header .title h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}
/* line 94, ../sass/screen.scss */
.App header button {
  flex-grow: 1;
  cursor: default;
}
/* line 100, ../sass/screen.scss */
.App header button img {
  width: 100px;
  cursor: pointer;
}
/* line 107, ../sass/screen.scss */
.App #settingsSidebar {
  top: 0;
  left: 0;
  width: 25%;
  bottom: 0;
  position: fixed;
  margin-top: 196px;
  z-index: 3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 120, ../sass/screen.scss */
.App #settingsSidebar button {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border-radius: 10rem;
  font-size: 1.5rem;
}
/* line 129, ../sass/screen.scss */
.App #addFocusContainer {
  top: 0;
  right: 0;
  width: 25%;
  bottom: 0;
  position: fixed;
  margin-top: 196px;
  z-index: 3;
}
/* line 138, ../sass/screen.scss */
.App #addFocusContainer .addFocusForm {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 146, ../sass/screen.scss */
.App #addFocusContainer .addFocusForm input {
  min-height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
/* line 153, ../sass/screen.scss */
.App #addFocusContainer .addFocusForm input[type="text"] {
  outline: none;
  border: none;
}
/* line 158, ../sass/screen.scss */
.App #addFocusContainer .addFocusForm input[type="submit"] {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border-radius: 10rem;
}
/* line 167, ../sass/screen.scss */
.App .focusList {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  min-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 178, ../sass/screen.scss */
.App .focusList .noFocus {
  font-size: 2rem;
  margin-top: 9rem;
}
/* line 182, ../sass/screen.scss */
.App .focusList .noFocus span {
  font-size: 3rem;
}
/* line 187, ../sass/screen.scss */
.App .focusList .focus {
  width: 40%;
}
/* line 190, ../sass/screen.scss */
.App .focusList .focus p {
  padding: 0.8rem 2rem;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
  border-radius: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 200, ../sass/screen.scss */
.App .focusList .focus p input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  border-radius: 12px;
}
/* line 209, ../sass/screen.scss */
.App .focusList .focus p button {
  margin-left: 1rem;
  font-weight: 900;
  padding: 5px 7px;
  border: 2px solid transparent;
  border-radius: 100%;
}

/* Light */
/* line 224, ../sass/screen.scss */
.light {
  background-color: #f6effc;
}
/* line 227, ../sass/screen.scss */
.light header {
  background-color: #fff;
  border-bottom: 4px solid #7982e7;
}
/* line 235, ../sass/screen.scss */
.light header h3 {
  color: #000;
}
/* line 240, ../sass/screen.scss */
.light #settingsSidebar {
  background-color: #fff;
  border-right: 4px solid #7982e7;
}
/* line 244, ../sass/screen.scss */
.light #settingsSidebar button {
  background-color: #f6effc;
  border: 2px solid #7982e7;
}
/* line 253, ../sass/screen.scss */
.light #addFocusContainer {
  background-color: #fff;
  border-left: 4px solid #7982e7;
}
/* line 259, ../sass/screen.scss */
.light #addFocusContainer .addFocusForm input[type="text"] {
  border-bottom: 2px solid #7982e7;
}
/* line 263, ../sass/screen.scss */
.light #addFocusContainer .addFocusForm input[type="submit"] {
  background-color: #f6effc;
  border: 2px solid #7982e7;
}
/* line 277, ../sass/screen.scss */
.light .focusList .noFocus span {
  color: #8a2be2;
}
/* line 282, ../sass/screen.scss */
.light .focusList .completed {
  background-color: #7982e7;
  color: #fff;
}
/* line 286, ../sass/screen.scss */
.light .focusList .completed button {
  color: #fff;
}
/* line 291, ../sass/screen.scss */
.light .focusList p {
  color: #000;
  background-color: #fff;
  border: 2px solid #7982e7;
  button-color: #000;
}
/* line 295, ../sass/screen.scss */
.light .focusList p:hover {
  border: 2px solid transparent;
}
/* line 300, ../sass/screen.scss */
.light .focusList p input[type="checkbox"] {
  border: 1px solid #7982e7;
}
/* line 302, ../sass/screen.scss */
.light .focusList p input[type="checkbox"]:hover {
  background-color: #7982e7;
}
/* line 305, ../sass/screen.scss */
.light .focusList p input[type="checkbox"]:checked {
  background-color: #7982e7;
}

/* Dark */
/* line 319, ../sass/screen.scss */
.dark {
  background-color: #300b51;
}
/* line 322, ../sass/screen.scss */
.dark header {
  background-color: #000;
  border-bottom: 4px solid #00ffff;
}
/* line 330, ../sass/screen.scss */
.dark header h3 {
  color: #fff;
}
/* line 335, ../sass/screen.scss */
.dark #settingsSidebar {
  background-color: #000;
  border-right: 4px solid #00ffff;
}
/* line 339, ../sass/screen.scss */
.dark #settingsSidebar button {
  color: #fff;
  background-color: #00004d;
  border: 2px solid #00ffff;
}
/* line 349, ../sass/screen.scss */
.dark #addFocusContainer {
  background-color: #000;
  border-left: 4px solid #00ffff;
}
/* line 355, ../sass/screen.scss */
.dark #addFocusContainer .addFocusForm input[type="text"] {
  color: #fff;
  background-color: #000;
  border-bottom: 2px solid #00ffff;
}
/* line 361, ../sass/screen.scss */
.dark #addFocusContainer .addFocusForm input[type="submit"] {
  border: 2px solid #00ffff;
  background-color: #00004d;
  color: #fff;
}
/* line 374, ../sass/screen.scss */
.dark .focusList .noFocus {
  color: #fff;
}
/* line 377, ../sass/screen.scss */
.dark .focusList .noFocus span {
  color: #00ffff;
}
/* line 382, ../sass/screen.scss */
.dark .focusList .completed {
  background-color: #00ffff;
  color: #000;
}
/* line 386, ../sass/screen.scss */
.dark .focusList .completed button {
  color: #000;
}
/* line 391, ../sass/screen.scss */
.dark .focusList p {
  color: #fff;
  background-color: #00004d;
  border: 2px solid #00ffff;
}
/* line 395, ../sass/screen.scss */
.dark .focusList p:hover {
  border: 2px solid transparent;
}
/* line 400, ../sass/screen.scss */
.dark .focusList p input[type="checkbox"] {
  border: 1px solid #00ffff;
  background-color: #00004d;
}
/* line 403, ../sass/screen.scss */
.dark .focusList p input[type="checkbox"]:hover {
  background-color: #8a2be2;
  border: 1px solid transparent;
}
/* line 407, ../sass/screen.scss */
.dark .focusList p input[type="checkbox"]:checked {
  background-color: #00ffff;
}
/* line 412, ../sass/screen.scss */
.dark .focusList p button {
  color: #fff;
}
